In [ ]:
#1) Create a list and store different values of your choice inside the list and then print the list, finally show all the properties of the list.

a=['cake','choco','cake',1,2.4,3]
print(a)
a.append("ice cream")
print(a)
n=int(input("enter index of list:"))
print(a[n])
a.remove(a[5])
print(a)
a[1]="vanilla"
print("updated list =",a)

['cake', 'choco', 'cake', 1, 2.4, 3]
['cake', 'choco', 'cake', 1, 2.4, 3, 'ice cream']
enter index of list:2
cake
['cake', 'choco', 'cake', 1, 2.4, 'ice cream']
updated list = ['cake', 'vanilla', 'cake', 1, 2.4, 'ice cream']

In [ ]:
#2) Create a tuple and store different values of your choice inside the tuple and then print the tuple, finally show all the properties of the tuple.

a=('cake','choco','cake',1,3,2.4)
print(a)
print("addition, deletion, updation element not possible in tuple.")
n=int(input("enter index of tuple:"))
print(a[n])

('cake', 'choco', 'cake', 1, 3, 2.4)
addition, deletion, updation element not possible in tuple.
enter index of tuple:3
1

In [ ]:
#3) Create a set and store different values of your choice inside the set and then print the set, finally show all the properties of the set.

a={'cake','choco','cake',1,3,2.4}
print(a)
a.add("ice cream")
print(a)
print("indexing not possible in set")
a.remove(3)
print(a)

{'choco', 1, 2.4, 3, 'cake'}
{'choco', 1, 2.4, 3, 'cake', 'ice cream'}
indexing not possible in set
{'choco', 1, 2.4, 'cake', 'ice cream'}

In [ ]:
#4) Create a dictionary and inside the dictionary, create 3 keys of your choice, and then assign a specific value for each individualkeys and finally print the dictionary.

self={
    "Name":"Shreeja Sinha",
    "Age":19,
    "Stream":"CSE"
}
print(self)

{'Name': 'Shreeja Sinha', 'Age': 19, 'Stream': 'CSE'}

In [ ]:
#5) Write a Python program that checks whether a number entered by the user is even or odd. Use if-else statement to determine and print the result.

n=float(input("enter a number"))
if n%2 == 0:
  print("even")
else:
  print("odd")

enter a number20.5
odd

In [ ]:
#6) Write a Python program that acts as a basic calculator. The program should prompt the user to enter 2 numbers and an operator(+,-,*,/). Use if, else and elif statements to perform the correct operation and display the result.

print("enter 2 numbers:")
a=float(input())
b=float(input())
op=input("enter either +,-,*or /: ")
if op=="+":
  print(a,"+",b,"=",a+b)
elif op=="-":
  print(a,"-",b,"=",a-b)
elif op=="*":
  print(a,"*",b,"=",a*b)
elif op=="/":
  print(a,"/",b,"=",a//b)
else:
  print("please enter operator correctly!!")

enter 2 numbers:
11
2
enter either +,-,*or /: *
11.0 * 2.0 = 22.0

In [ ]:
#7) Create a list and store different items inside the list then with the use of a for loop iterate all items stored inside the list.

a=['cake','choco','cake',1,2.4,3]
print(a)
for i in a:
  print(i)

['cake', 'choco', 'cake', 1, 2.4, 3]
cake
choco
cake
1
2.4
3

In [ ]:
#8) Print 1st 10 natural numbers with the use of a while loop.

n=int(input("enter number of natural numbers to be printed:"))
i=1
while(i<=n):
  print(i)
  i=i+1

enter number of natural numbers to be printed:10
1
2
3
4
5
6
7
8
9
10

In [ ]:
#9) Print 1st 10 natural numbers with the use of a while loop and then use a break statement to terminate the loop or close the loop in between.

n=int(input("enter number of natural numbers to be printed:"))
i=1
while(i<=n):
  print(i)
  i=i+1
  if(i == 6):
    break

enter number of natural numbers to be printed:10
1
2
3
4
5

In [ ]:
#10) Cretae a class named employee and inside the class define 2 functions namely getdata and display, inside the

class employee:
  def getdata(self):
    self.name=input("Name: ")
    self.dept=input("Department: ")
    self.salary=input("Salary: ")

  def display(self):
    print("entered data is as follows, please check:")
    print(self.name)
    print(self.dept)
    print(self.salary)

emp=employee()
emp.getdata()
emp.display()

Name: Shreeja Sinha
Department: CSE
Salary: 150000000000
entered data is as follows, please check:
Shreeja Sinha
CSE
150000000000